<table class="table table-striped">
	<tr>
		<th>Date</th>
		<th>Order No.</th>
		<th>Company</th>
	</tr>
	<% @orders.each do |order| %>
		<%= link_to order_path(order) do %>
		<tr>
			<td><%= order.created_at %></td>
			<td><%= order.order_number %></td>
			<td><%= order.user.account.company %></td>
		</tr>
		<% end %>
	<% end %>
</table>
<%= will_paginate @orders %>